/* 全体 */
html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.h{
  text-align: center;
  font-size: 18px;
}
h1 i{
  margin-right: 5px;
}
h1 {
  position: relative;
  display: inline-block;
  padding: 0 55px;
  margin-top: 80px;
}
h1:before, h1:after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 50%;
  width: 45px;
  height: 2px;
  background-color: black;
}
h1:before {
  left:0;
}
h1:after {
  right: 0;
}
::selection{
  color: orange;
}
/* スマホ用非表示 */
.for-smh{
  display: none;
}
/* フォント指定 */
p,a{
  font-family: "Noto Sans JP";
}
header li{
  font-family: 'Quicksand', sans-serif;
}
#hello p{
  font-family: 'Poiret One', cursive;
}
h1{
  font-family: 'Maven Pro', sans-serif;
}
/* ヘッダー */
#header-before{
  text-align: center;
}
#header-before img{
  margin-top: 15px;
  width: 93px;
  border-radius: 50%;
  border: solid 3.5px white;
}
header{
  position: -webkit-sticky; /* Safariに対応する */
  position: sticky; /* 要素を固定/解除する */
  top: 0; /* 縦方向の閾値 */
  text-align: center;
  z-index:9998; /* 最前面表示 */
}
#pc-nav{
  padding: 10px;
  margin: 0 auto;
  display: flex;flex-wrap: wrap;
  justify-content: center;
  width: 800px;
  background-color: white;
}
#pc-nav li{
  list-style: none;
  font-size: 20px;
}
#pc-nav a:hover{
  color: rgb(126, 126, 126);
}
#pc-nav a{
  color: black;
  text-decoration: none;
}
#pc-nav li:not(:last-child){
  margin-right: 50px;
}
#pc-nav i{
  margin-right: 4px;
}
/* Hello */
/* ==hover時動き== */
.hover{
  display: none;
}
p:hover .nomal{
  display: none;
}
p:hover .hover{
  display: inline;
}
/* ==デザイン== */
#hello{
  width: 750px;
  margin: 0 auto;
}
#hello p{
  font-size: 100px;
  text-align: center;
  margin-top: 140px;
  font-weight: 600;
}
/* Welcome */
#welcome-box{
  width: 1000px;
  text-align: center;
  margin: 0 auto;
}
/* About */
#about-main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
#about-box img{
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: solid 7px white;
  margin-right: 50px;
}
#about-main p{
  width: 700px;
  line-height: 27px;
}
#about-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about-box-inner{
  background-color: silver;
  width: 250px;
  margin-bottom: 50px;
  position: relative;
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: solid 2px white;
  margin: auto 30px;
  margin-bottom: 50px;
}
.about-box-inner:after {
  position: absolute;
  content: '';
  left: -7px;
  top: -7px;
  border-width: 0 0 15px 15px;
  border-style: solid;
  border-color: #fff #fff #a8d4ff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
.about-inner-title{
  font-size: 23px;
  margin: 10px;
  text-align: center;
}
.about-inner-title i{
  margin-right: 3.5px;
}
.about-inner-info{
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}
.about-box-inner a{
  color: black;
}
/* works */
#works-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
#works-lead{
  text-align: center;
  margin-bottom: 30px;
}
.works-box-inner{
  width: 450px;
  height: 430px;
  margin: auto 40px;
  margin-bottom: 70px;
  background-color: white;
}
.works-box-inner a{
  text-decoration: none;
  color: black;
}
.works-box-inner p{
  margin-left: 10px;
}
.works-box-inner img{
  width: 450px;
  height: 253px;
  border: solid 2px black;
}
.works-title{
  font-size: 23px;
  font-weight: 500;
  margin: 5px auto;
}
.works-data{
  margin: 0;
}
.works-use-languages{
  margin: 2px auto;
  margin-bottom: 10px;
}
a.works-btn{
  color: #fff;
  background-color: #eb6100;
  border-bottom: 2px solid #b84c00;
  padding: 3px 10px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  margin-left: 10px;
  margin-bottom: 20px;
}
a.works-btn:hover{
  box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  border-bottom: 0;
}
/* Contact */
#contact-box{
  text-align: center;
  margin-bottom: 70px;
}
.contact-way{
  font-size: 20px;
}
.contact-way i{
  margin-right: 3px;
}
/* footer */
footer p{
  text-align: center;
  font-size: 13px;
  margin-bottom: 20px;
}
/* レスポンシブ */
@media screen and (max-width: 750px){
  /* 表示・非表示関連 */
  .for-pc{
   display: none!important;
   color: transparent!important;
  }
  .for-smh{
    display: block;
  }
  h1{
    margin-top: 40px;
  }
  #hello{
    display: none;
  }
  #welcome-box{
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
  #about-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #about-main p{
    width: 90%;
    background-color: white;
    padding: 10px;
  }
  #about-box img{
    display: flex;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    border: solid 5px white;
    margin: 0;
  }
  #works-lead{
    padding: 10px;
  }
  .works-box-inner{
    width: 90%;
    margin: 0;
  }
  .works-box-inner img{
    width: 100%;
    height: auto;
  }
  /* スマホ用ヘッダー */
  /*ヘッダーまわりはサイトに合わせて調整してください*/
  header {
    padding:10px;
    background: skyblue;
    width: 30px;
    height: 30px;
    float: right;
  }
  
  #nav-drawer {
    position: relative;
  }
  
  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display:none;
  }
  
  /*アイコンのスペース*/
  #nav-open {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
  }
  #nav-open i{
    text-align: center;
    line-height: 30px;
    font-size: 25px;
  }
  /*閉じる用の薄黒カバー*/
  #nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }
  /*中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;/*最前面に*/
    width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
    max-width: 330px;/*最大幅（調整してください）*/
    height: 100%;
    background: #fff;/*背景色*/
    transition: .3s ease-in-out;/*滑らかに表示*/
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);/*左に隠しておく*/
  }
  #smh-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin-top: 60px;
  }
  #smh-nav li{
    list-style: none;
    font-size: 25px;
    padding: 15px;
  }
  #smh-nav a{
    color: black;
    text-decoration: none;
  }
  /*チェックが入ったらもろもろ表示*/
  #nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;
  }
  
  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示（右へスライド）*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }
}
