body {
  margin: 0;
}
body div, body h1, body h2, body p, body li {
  font-family: "Rampart One", cursive;
}
body header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellowgreen;
}
body header a {
  color: black;
  text-decoration: none;
}
body #gacha {
  margin: 50px auto;
  width: 350px;
  border: solid 2px black;
}
body #gacha #gacha-top {
  width: 100%;
  height: 50px;
  background-color: red;
}
body #gacha #gacha-box {
  width: 100%;
  height: 300px;
  background-color: #f5f5f5;
  display: flex;
  align-items: flex-end;
}
body #gacha #gacha-box #gacha-capsules {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  margin: 0 auto;
}
body #gacha #gacha-box #gacha-capsules .gacha-capsule {
  width: 65px;
  height: 65px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
}
body #gacha #gacha-box #gacha-capsules .gacha-capsule:before {
  content: "";
  display: block;
  width: 65px;
  height: calc(65px / 2);
  background-color: white;
  border-radius: calc(65px / 2) calc(65px / 2) 0 0;
}
body #gacha #gacha-box #gacha-capsules .gacha-capsule:nth-child(1) {
  background-color: #ba55d3;
  transform: rotate(26deg);
}
body #gacha #gacha-box #gacha-capsules .gacha-capsule:nth-child(2) {
  background-color: #ffd700;
  transform: rotate(15deg);
}
body #gacha #gacha-box #gacha-capsules .gacha-capsule:nth-child(3) {
  background-color: #32cd32;
  transform: rotate(26deg);
}
body #gacha #gacha-box #gacha-capsules .gacha-capsule:nth-child(4) {
  background-color: #ff00ff;
  transform: rotate(695deg);
}
body #gacha #gacha-box #gacha-capsules .gacha-capsule:nth-child(5) {
  background-color: #00bfff;
  transform: rotate(26deg);
}
body #gacha #gacha-box #gacha-capsules .gacha-capsule:nth-child(6) {
  background-color: #ff6347;
  transform: rotate(254deg);
}
body #gacha #gacha-box #gacha-capsules .gacha-capsule:nth-child(7) {
  background-color: #1e90ff;
  transform: rotate(15deg);
}
body #gacha #gacha-box #gacha-capsules .gacha-capsule:nth-child(8) {
  background-color: #ffa500;
  transform: rotate(340deg);
}
body #gacha #gacha-box #gacha-capsules .gacha-capsule:nth-child(9) {
  background-color: #90ee90;
  transform: rotate(45deg);
}
body #gacha #gacha-bottom {
  width: 100%;
  height: 300px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #gacha #gacha-bottom #gacha-handle {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  border: solid black 3px;
  transform: rotate(140deg);
}
body #gacha #gacha-bottom #gacha-handle #gacha-handle-border {
  width: 100%;
  height: 10px;
  border-top: solid black 3px;
  border-bottom: solid black 3px;
}
body #bgm-display {
  width: 90%;
  height: calc(90vh - 60px);
  background-color: white;
  border-radius: 15px;
  border: solid 4px #ff4500;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
body #bgm-display iframe {
  width: 70%;
  height: 90%;
}/*# sourceMappingURL=style.css.map */